################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/E1FI5-DateiRenamer/FileContentIndex
/.vs/slnx.sqlite
